*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(image/background.jpg);
    background-size: cover;
}
.menu-bar{
    background: green;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;

}
.active, .menu-bar ul li:hover{
    background: lightgreen;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: lightseagreen;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom:1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
      border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(54, 60, 176);
}

.sub-menu-2{
    display:none;
}
.menu-bar ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: lightseagreen;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-2 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom:1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-2 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover{
    color: rgb(54, 60, 176);
}
.fa-angle-right{
    float: right;
}
.list{
    display: none;
}
.hover-me:hover .list{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background:rgba(166, 77, 44, 0.733) ;
}
.sub-menu-3{
    display:none;
}
.menu-bar ul li:hover .sub-menu-3{
    display: block;
    position: absolute;
    background: lightseagreen;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-3 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-3 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom:1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-3 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-3 ul li a:hover{
    color: rgb(54, 60, 176);
}
.sub-menu-4{
    display:none;
}
.menu-bar ul li:hover .sub-menu-4{
    display: block;
    position: absolute;
    background: lightseagreen;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-4 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-4 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom:1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-4 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-4 ul li a:hover{
    color: rgb(54, 60, 176);
}
.sub-menu-5{
    display:none;
}
.menu-bar ul li:hover .sub-menu-5{
    display: block;
    position: absolute;
    background: lightseagreen;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-5 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-5 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom:1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-5 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-5 ul li a:hover{
    color: rgb(54, 60, 176);
}
.sub-menu-6{
    display:none;
}
.menu-bar ul li:hover .sub-menu-6{
    display: block;
    position: absolute;
    background: lightseagreen;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-6 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-6 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom:1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-6 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-6 ul li a:hover{
    color: rgb(54, 60, 176);
}
.sub-menu-7{
    display:none;
}
.menu-bar ul li:hover .sub-menu-7{
    display: block;
    position: absolute;
    background: lightseagreen;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-7 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-7 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom:1px dotted #fff;
}
.menu-bar ul li:hover .sub-menu-7 ul li:last-child{
    border-bottom: none;
}.menu-bar ul li:hover .sub-menu-7 ul li a:hover{
    color: rgb(54, 60, 176);
}




